<header>
  <img
    src="../../../../../assets/img/linkedin_Photo.jpg"
    alt="Guilherme Sampaio - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Guilherme Sampaio</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack | Game Developer</p>
    <p>Cruzeiro - SP | Itajubá - MG</p>
    <p>
      Graduando em Engenharia de Computação pela Universidade Federal de Itajubá, entusiasta por tecnologia e desenvolvimento de jogos. <br>Busco sempre aprender novas tecnologias e aprimorar minhas habilidades.
    </p>

    <nav>
      <ul>
        <li>
          <a href="../../../../../assets/pdf/Curriculo_Guilherme_Sampaio.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/guismpaio/"
            target="_blank"
            class="btn btn-secondary"
          >
            Linkedin
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://wa.me/5512997600362"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (12) 99760-0362</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:guicsmpaio@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>guicsmpaio&#64;gmail.com.br</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
